@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

/* font-family: 'Baloo Thambi 2', cursive; */

* {
   border:0;
   margin:0;
   padding:0;
   box-sizing:border-box; 
}

* {
  scrollbar-width: thin;
  scrollbar-color:#7c6a6a;
}

*::-webkit-scrollbar {
  width:13px;
}

*::-webkit-scrollbar-track {
  background:#7c6a6a;
}

*::-webkit-scrollbar-thumb {
  background-color:#c09e9e;
  border-radius:5px;
  border: 3px solid #c09e9e;
}

body {
   background:#5A5A52;
}

.background-image {
   position:fixed;
   top:0;
   left:0;
   width:100vw;
   height:100vh;
   object-fit:cover;
   opacity:.8;
   display:block;
   animation:borrado 1.5s;
   animation-fill-mode:forwards;
}

@keyframes borrado {
   0% {
      filter:blur(0px);
   }

   100% {
      filter:blur(2px);
   }
}

section {
   position:absolute;
   display:flex;
   width:100%;
   height:100%;
   justify-content:center;
   align-items:center;
}

.convite {
   display:none;
}

.convite.active {
   display:flex;
   margin-top:-100px;
   justify-content:center;
   align-items:center;
}

.convite.active h1, span, button {
   letter-spacing:4px;
   font-family:'Kalam', cursive;
   color:#dac8c8;
}

.convite.active h1 {
   font-size:60px;
   text-transform:uppercase;
   animation:mostra 1.5s;
}

.convite.active span { 
   position:absolute;
   display:block;
   margin-left:260px;
   margin-top:80px;
   font-size:17px;
   transform:rotate(-6deg);
   animation:mostra 3.0s;
}

.convite.active button {
   background:none;
   border-radius:10px;
   height:63px;
   position:absolute;
   padding-bottom:60px;
   padding-top:0px;
   display:block;
   cursor:pointer;
   margin-top:300px;
   font-size:15px;
   user-select:none;
   animation:mostra 4.5s;
}

.convite.active .rotacionar {
   border-radius:50px;
   position:absolute;
   display:flex;
   justify-content:center;
   align-items:center;
   margin-top:-2px;
   margin-left:27px;
   font-size:35px;
   transform:rotate(90deg);
   animation:light 1.5s infinite;
}

#optar-musica {
   display:none;
}

#optar-musica.active {
   font-family: 'Kalam', cursive;
   color:#dac8c8;
   display:flex;
   justify-content:center;
   height:145px;
   animation:mostra .5s;
}

#optar-musica.active h1 {
   font-size:30px;
}

#optar-musica.active button {
   background:none;
   cursor:pointer;
   position:absolute;
   display:block;
   margin-top:80px;
   font-size:22px;
}

#optar-musica.active .sim, .no {
   border-radius:20px;
   padding:13px 30px 9px 30px;
   opacity:.8;
}

#optar-musica.active .sim {
   background:rgb(133, 172, 133);
   margin-right:170px;
}

#optar-musica.active .no {
   background:#a38a4a;
   margin-left:170px;
}

#optar-musica.active .sim:hover, .no:hover {
   opacity:1;
}

@media (max-width:768px) {

   .convite.active h1 {
      font-size:50px;
   }

   .convite.active span {
      font-size:15px;
      margin-left:225px;
      margin-top:60px;
   }

   #optar-musica.active {
      height:130px;
   }

   #optar-musica.active h1 {
      font-size:25px;
   }

   #optar-musica.active button {
      font-size:15px;
   }

   #optar-musica.active .sim {
      margin-right:140px;
   }

   #optar-musica.active .no {
      margin-left:140px;
   }
}

@media (max-width:500px) {
   .convite.active h1 {
      font-size:35px;
   }

   .convite.active span {
      margin-left:150px;
      margin-top:50px;
   }

   .convite.active button {
      padding-bottom:26px;
      font-size:13px;
   }

   .convite.active .rotacionar {
      font-size:30px;
   }

   #optar-musica.active {
      height:115px;
   }

   #optar-musica.active h1 {
      font-size:21px;
   }

   #optar-musica.active button {
      margin-top:70px;
      font-size:12px;
   }

   #optar-musica.active .sim {
      margin-right:120px;
   }

   #optar-musica.active .no {
      margin-left:120px;
   }
}

@media (max-width:370px) {
   .convite.active h1 {
      font-size:25px;
   }

   .convite.active span {
      font-size:11px;
      margin-left:110px;
      margin-top:50px;
   }

   .convite.active button {
      padding-bottom:18px;
      font-size:12px;
   }

   .convite.active .rotacionar {
      font-size:25px;
   }

   #optar-musica.active {
      height:110px;
   }

   #optar-musica.active h1 {
      font-size:17px;
   }

   #optar-musica.active button {
      margin-top:70px;
      font-size:11px;
   }

   #optar-musica.active .sim {
      margin-right:120px;
   }

   #optar-musica.active .no {
      margin-left:120px;
   }
}

@media (max-height:400px) {

   .convite.active {
      position:absolute;
      margin-top:20px;
      top:0;
   }

   .convite.active span {
      width:169px;
      font-size:12px;
      margin-top:50px;
   }

   .convite.active button {
      margin-top:200px;
   }

   .convite.active .rotacionar {
      margin-left:-45px;
   }
}

@keyframes mostra {
   0% {
      opacity:0;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}

@keyframes light {
   0% {
      opacity:1;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}