@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@500&display=swap');

/* font-family: 'Baloo Thambi 2', cursive; */

* {
   border:0;
   margin:0;
   padding:0;
   box-sizing:border-box; 
  
}

body {
   background:#5A5A52;
}

.background {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:cover;
   filter:blur(5px);
   opacity:.8;
}

section {
   position:absolute;
   display:flex;
   width:100vw;
   height:100vh;
   justify-content:center;
   align-items:center;
}

header {
   display:flex;
   margin-top:-100px;
   justify-content:center;
   align-items:center;
}

.life, .cont, .start {
   letter-spacing:4px;
   font-family: 'Kalam', cursive;
   color:#dac8c8;
}

.life {
   font-size:60px;
   text-transform:uppercase;
}

.cont { 
   position:absolute;
   display:block;
   margin-left:260px;
   margin-top:80px;
   font-size:17px;
   transform:rotate(-6deg);
   opacity:.8;
}

.start {
   background:none;
   border-radius:10px;
   height:63px;
   position:absolute;
   padding-bottom:60px;
   padding-top:0px;
   display:flex;
   cursor:pointer;
   display:block;
   margin-top:300px;
   font-size:15px;
   user-select:none;
}

.rotacionar {
   border-radius:50px;
   position:absolute;
   display:flex;
   justify-content:center;
   align-items:center;
   margin-top:-2px;
   margin-left:27px;
   font-size:35px;
   transform:rotate(90deg);
}

@media (max-width:768px) {

   .life {
      font-size:50px;
   }

   .cont {
      font-size:15px;
      margin-left:225px;
      margin-top:60px;
   }
}

@media (max-width:500px) {

   .life {
      font-size:35px;
   }

   .cont {
      font-size:12px;
      margin-left:160px;
      margin-top:50px;
   }

   .start {
      padding-bottom:26px;
      font-size:13px;
   }

   .rotacionar {
      font-size:30px;
   }
}

@media (max-height:400px) {

   header {
      position:absolute;
      margin-top:20px;
      top:0;
   }

   .cont {
      width:169px;
      font-size:12px;
      margin-top:50px;
   }

   .start {
      margin-top:200px;
   }
}