@charset 'UTF-8';

#tela-borrada-para-mostrar-calendario, .calendario {
   display:none;
}

#tela-borrada-para-mostrar-calendario {
   position:fixed;
   width:100vw;
   height:100vh;
   top:0;
   left:0;
   background:rgba(0,0,0,.5);
}

.calendario {
   font-family:'Kalam', cursive;
   padding:2rem;
   position:fixed;
   width:37.5rem;
   height:25rem;
   border-radius:3rem;
   overflow-y:auto;
   place-items:center;
   box-shadow:4px 4px 8px rgba(0,0,0,.6);
   border:.125rem solid #804C2B;
   background:#fe690a;
   background:linear-gradient(135deg, rgba(254,105,10,1) 8%, rgba(233,124,9,1) 42%, rgba(254,105,10,1) 86%);
   scrollbar-width:thin;
   scrollbar-color:#F2F2F2;
}

#meses, #anos {
   display:none;
}

.calendario::-webkit-scrollbar {
   width:.4rem;
}

.calendario::-webkit-scrollbar-track {
   background:#F2F2F2;
   border-radius:1rem;
}

.calendario::-webkit-scrollbar-thumb {
   background-color:#CC5308;
   border-radius:1rem;
}

@keyframes mostra-calendario {
   0% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}

#fecha-calendario {
   position:fixed;
   right:.7rem;
   top:.4rem;
   color:#F2F2F2;
   font-size:2rem;
   text-align:center;
   height:2.5rem;
}

.calendario, .calendario span {
   color:black;
}

.calendario img, span, li {
   cursor:pointer;
   transition:.3s;
}

.calendario span, img {
   opacity:.6;
}

.calendario img:hover, span:hover, .dias li:hover {
   opacity:1;
   transition:.6s;
}

.calendario div:nth-child(1), .dias div {
   display:flex;
   align-items:center;
   justify-content:space-between;
} 

.calendario div:nth-child(1), .dias, .dias div {
   width:100%;
}

.calendario div:nth-child(1) {
   font-size:1.5rem;
}

.calendario ul {
   list-style:none;
   display:flex;
}

.calendario .dias {
   font-size:1.3rem;
   flex-wrap:wrap;
   margin-top:1rem;
} 

.calendario .escolhido {
   background:#CC5308;
}

.dias div {
   margin-top:1rem;
   font-family:'Baloo Thambi 2', cursive;
}

.calendario .dias div li {
   margin-left:0rem;
}

.dias .d-31 {
   display:none;
}

.dias li {
   width:2.5rem;
   text-align:center;
   min-height:2rem;
   border-radius:.5rem;
   padding-top:.2rem;
   opacity:.7;
}

.dias li:hover {
   background:#CC5308;
}

.dias .container {
   justify-content:space-between;
   width:12.7rem;
}

.dias .container.ajustavel {
   width:7.6rem;
}

.calendario button {
   position:absolute;
   font-size:1.2rem;
   background:#CC5308;
   height:1.6rem;
   min-width:2rem;
   padding-left:.2rem;
   border-radius:.2rem;
   opacity:.8;
   transition:.3s;
   cursor:pointer;
   margin-top:-1.8rem;
   margin-left:83%;
}

.calendario button:hover {
   opacity:1;
   transition:.6s;
}

#meses {
   width:100%;
}

#meses div {
   display:flex;
   justify-content:space-between;
   align-items:center;
   font-size:1.3rem;
   list-style:none;
}

#meses div li {
   margin-top:2rem;
   border-radius:.3rem;
   padding-top:.1rem;
   width:6rem;
   text-align:center;
   transition:.3s;
   opacity:.8;
}

#meses div li:hover {
   background:#CC5308;
   transition:.6s;
   opacity:1;
}

#anos {
   width:100%;
}

#anos div {
   display:flex;
   justify-content:space-between;
   align-items:center;
   font-size:1.1rem;
   margin-top:2rem;
}

#anos div li {
   padding-top:.3rem;
   width:3rem;
   border-radius:.6rem;
   text-align:center;
   opacity:.8;
   list-style:none;
   transition:.3s;
}

#anos div li:hover { 
   background:#CC5308;
   transition:.6s;
   opacity:1;
}

.volta-calendar.desativado, .mes.desativado, .ano.desativado {
   display:none;
}

.volta-calendar.active, .mes.active, .ano.active {
   display:block;
}

@media (max-width:920px) {
   .calendario {
      width:30rem;
      height:25rem;
   }

   .calendario button {
      margin-left:79%;
   }

   .dias .container {
      width:10.2rem;
   }

   .dias .container.ajustavel {
      width:6.37rem;
   }
}

@media (max-width:520px) {
   .calendario {
      width:24.375rem;
   }

   #fecha-calendario {
      font-size:1.7rem;
      max-height:2.5rem;
   }

   .calendario button {
      margin-left:74%;
   }

   #meses div li {
      margin-top:2.6rem;
      width:5rem;
      font-size:1rem;
   }

   .dias .container {
      width:8.3rem;
   }

   .dias .container.ajustavel {
      width:5.41rem;
   }
}

@media (max-width:440px) {
   .calendario {
      width:18rem;
   }

   .calendario button {
      margin-left:66%;
   }

   .dias .container {
      width:5.8rem;
   }

   #meses {
      width:110%;
      margin-left:-1rem;
   }

   #anos div {
      font-size:.9rem;
   }

   .dias .container.ajustavel {
      width:4.0rem;
      margin-left:-.1rem;
   }
}

@media (max-height:430px) {
   .calendario {
      height:85vh;
   }
}