@charset 'UTF-8';

#formulario .segunda-parte div {
   display:block;
   margin:auto;
   margin-bottom:50px;
   width:300px;
}

#formulario .segunda-parte h1 {
   display:block;
   margin-bottom:10px;
}

#formulario .segunda-parte input {
   margin-top:1px;
   position:relative;
   right:75px;
}

#formulario .segunda-parte label {
   position:relative;
   top:-23px;
   display:block;
   margin:auto;
   text-align:left;
   width:90px;
   font-size:17px;
}

.dieta input, .saude input, .vida-sexual input, .sono input, .kids input {
   display:block;
   margin-top:0px;
   margin-left:150px;
   appearance:none;
   height:20px;
   width:20px;
   transition:all 0.15s ease-out 0s;
   background:white;
   border:none;
   color:#fff;
   border-radius:50%;
}

.dieta input:hover, .saude input:hover, .vida-sexual input:hover, .sono input:hover, .kids input:hover {
   background:#bfc7d1;
}

.dieta input:checked, .saude input:checked, .vida-sexual input:checked, .sono input:checked, .kids input:checked {
   background:#40e0d0;
}

.dieta input:checked::before, .saude input:checked::before, .vida-sexual input:checked::before, .sono input:checked::before, .kids input:checked::before {
   position:relative;
   left:3.5px;
   content:'✔';
}

.dieta input:checked::after, .saude input:checked::after, .vida-sexual input:checked::after, .sono input:checked::after, .kids input:checked::after {
   background:#40e0d0;
   content:'';
   display:block;
}

.dieta input::after, .saude input::after, .vida-sexual input::after, .sono input::after, .kids input::after {
   border-radius:50%;
}

#formulario .dieta #img-alimentacao, .vida-sexual #imagem-vida-sexual, .sono #gif-horas-sono  {
   position:relative;
   width:250px;
   height:250px;
   border-radius:10px;
   opacity:.8;
   display:block;
   margin:auto auto 20px auto;
}

#formulario .dieta .envolve-alm {
   width:250px;
   height:70px;
}

#formulario #saudavel {
   right:150px;
}

#formulario #label-saudavel {
   right:55px;
}

#formulario #flexivel {
   top:-47px;
   right:6px;    
}

#formulario #label-flex {
  top:-70.5px;
  left:90px; 
}

#formulario #desregrada {
   top:-55px;
   right:150px;
}

#formulario #label-desregrada {
   top:-79px;
   right:55px;
}

#formulario .segunda-parte .saude {
   height:250px;
}

#formulario .saude h1 {
   margin-bottom:30px;
}

#formulario #excelente {
   right:130px;
}

#formulario #l-excelente {
   right:60px;
}

#formulario #se-cuida {
   top:-49px;
   left:5px;
}

#formulario #l-cuida {
   top:-71px;
   left:75px;
}

#formulario #nao-sabe {
   top:-51px;
   right:60px;
}

#formulario #l-nao-sei {
   top:-73px;
   left:10px;
}

#formulario #serio {
   top:-43px;
   right:130px;
}

#formulario #l-serio {
   top:-65px;
   right:50px;
   width:110px;
}

#formulario #grave {
   top:-115px;
   left:5px;
}

#formulario #l-grave {
   top:-138px;
   left:73px;
}

#formulario .vida-sexual {
   height:480px;
}

#formulario #nao-informa-vida-sexual {
   right:100px;
}

#formulario #l-nao-informa {
   right:25px;
   width:100px;
}

#formulario #baixa {
   top:-97px;
   left:25px;
}

#formulario #l-baixa {
   top:-120px;
   left:87px;
   width:75px;
}

#formulario #equilibrada {
   top:-70px;
   right:100px;
}

#formulario #l-equilibrada {
   top:-93px;
   right:30px;
}

#formulario #ativa {
   top:-117px;
   left:40px;
}

#formulario #l-ativa {
   top:-140px;
   left:85px;
   width:40px;
}

#formulario .sono {
   height:500px;
}

#formulario #sono-normal {
   top:-47px;
   left:5px;
}

#formulario #l-sono-normal {
   top:-70px;
   left:78px;
}

#formulario #dorminhoco {
   top:-45px;
}

#formulario #l-dorminhoco {
   top:-67px;
}

#formulario .kids {
   height:150px;
}

#formulario #talvez {
   top:-48px;
   right:0px;
}

#formulario #l-talvez {
   top:-70px;
   left:70px;
}

#formulario #sim-kids {
   top:-50px;
}

#formulario #l-sim-kids {
   top:-72px;
}

@media (max-width:970px) {
   #formulario #flexivel {
      top:-47px;  
   }

   #formulario #label-flex {
      top:-69px;
   }

   #formulario .segunda-parte.active .vida-sexual {
      height:420px;
   }

   #formulario #nao-informa-vida-sexual {
      right:120px;
   }

   #formulario #l-nao-informa {
      right:45px;
   }

   #formulario #baixa {
      top:-73px;
   }

   #formulario #l-baixa {
      top:-95px;
   }

   #formulario #equilibrada {
      top:-40px;
      right:120px;
   }

   #formulario #l-equilibrada {
      top:-63px;
      right:50px;
   }

   #formulario #ativa {
      top:-87px;
      left:25px;
   }

   #formulario #l-ativa {
      top:-112px;
      left:70px;
   }
}

@media (max-width:500px) {
   #formulario .segunda-parte.active label {
      font-size:13px;
   }

   #formulario .segunda-parte.active .dieta {
      width:205px;
   }

   #formulario .dieta #img-alimentacao, .vida-sexual #imagem-vida-sexual, .sono #gif-horas-sono {
      width:205px;
      height:225px;
   }

   #formulario .dieta .envolve-alm {
      width:205px;
   }

   #formulario #label-saudavel {
      right:42px;
      width:73px;
      top:-18px;
   }

   #formulario #flexivel {
      right:40px; 
      top:-40px;
   }

   #formulario #label-flex {
      left:63px;
      width:63px;
      top:-59px;
   }

   #formulario #desregrada {
      top:-50px;
   }

   #formulario #label-desregrada {
      right:34px;
      top:-68px;
   }

   #formulario .segunda-parte .saude {
      width:205px;
      height:200px;
   }

   #formulario #excelente {
      right:140px;
   }

   #formulario #l-excelente {
      right:27px;
      top:-19px;
      width:80px;
   }

   #formulario #se-cuida {
      left:-40px;
      top:-42px;
   }

   #formulario #l-cuida {
      width:75px;
      left:68px;
      top:-61px;
   }

   #formulario #nao-sabe {
      right:85px;
   }

   #formulario #l-nao-sei {
      left:18px;
      top:-70px;
      width:65px;
   }

   #formulario #serio {
      right:140px;
   }

   #formulario #l-serio {
      top:-62px;
      right:20px;
      width:95px;
   }

   #formulario #grave {
      left:-40px;
      top:-104px;
   }

   #formulario #l-grave {
      top:-123px;
      left:68px;
      width:76px;
   }

   #formulario .segunda-parte.active .vida-sexual {
      width:220px;
      height:380px;
   }

   #formulario #nao-informa-vida-sexual {
      right:130px;
   }

   #formulario #l-nao-informa {
      right:26px;
      top:-19px;
      width:80px;
   }

   #formulario #baixa {
      top:-62px;
      left:-24px;
   }

   #formulario #l-baixa {
      top:-81px;
      left:69px;
      width:60px;
   }

   #formulario #equilibrada {
      top:-40px;
      right:131px;
   }

   #formulario #l-equilibrada {
      top:-60px;
      right:23px;
   }

   #formulario #ativa {
      top:-83px;
      left:-20px;
   }

   #formulario #l-ativa {
      top:-102px;
      left:64px;
   }

   #formulario .segunda-parte.active .sono {
      height:440px;
      width:230px;
   }

   #formulario .segunda-parte.active .kids {
      width:230px;
   }

   #formulario #sono-nulo {
      right:110px;
   }

   #formulario #l-sono-nulo {
      right:5px;
      top:-19px;
   }

   #formulario #dorme-mal {
      right:110px;
   }

   #formulario #l-dorme-mal {
      right:30px;
      top:-19px;
      width:40px;
   }

   #formulario #sono-normal {
      top:-41px;
      left:-20px;
   }

   #formulario #l-sono-normal {
      top:-60px;
      left:55px;
      width:35px;
   }

   #formulario #dorminhoco {
      top:-45px;
      right:110px;
   }

   #formulario #l-dorminhoco {
      top:-64px;
      right:5px;
   }

   #formulario .segunda-parte.active .kids {
      height:120px;
      width:180px;
   }

   #formulario #nao-kids {
      right:140px;
   }

   #formulario #l-nao-kids {
      right:42px;
      top:-19px;
      width:28px;
   }

   #formulario #talvez {
      top:-41px;
      right:50px;
   }

   #formulario #l-talvez {
      top:-60px;
      left:58px;
      width:50px;
   }

   #formulario #sim-kids {
      top:-40px;
      right:130px;
   }

   #formulario #l-sim-kids {
      top:-59px;
      right:0px;
   }
}