@charset 'UTF-8';

#formulario h1, label {
   opacity:.7;
}

#formulario h1 {
   font-size:22px;
}

#formulario label {
   font-size:19px;
   letter-spacing:2px;
}

#formulario input {
   font-family:'Baloo Thambi 2', cursive;
   opacity:.8;
   letter-spacing:2px;
}

#formulario input:focus {
   outline:0;   
}

.configura-nome, .nascimento {
   display:block;
   margin-bottom:30px;
}

.configura-nome input {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
}

.nascimento {
   padding-top:10px;
   text-align:center;
}

.nascimento input {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
}

.sexo label {
   width:220px;
   text-align:left;
   display:block;
   margin:-25px 0px 0px 190px;
}

.sexo input {
   display:block;
   margin:20px 0px 0px 150px;
   appearance:none;
   height:20px;
   width:20px;
   transition:all 0.15s ease-out 0s;
   background:white;
   border:none;
   color:#fff;
}

.sexo input:hover {
  background:#bfc7d1;
}

.sexo input:checked {
  background:#40e0d0;
}

.sexo input:checked::before {
   position:relative;
   left:3.5px;
   content: '✔';
}

.sexo input:checked::after {
  background:#40e0d0;
  content: '';
  display: block;
}

.sexo input {
  border-radius:50%;
}

.sexo input::after {
  border-radius:50%;
}

.exercicios {
   padding:10px;
   margin:40px;
}

.exercicios h1 {
   padding-bottom:30px;
}

#formulario .exercicios label {
   letter-spacing:0px;
   display:block;
   margin-top:-24px;
   margin-left:25px;
   width:156px;
   text-align:left;
}

#formulario .exercicios #bem-corpo {
   width:130px;
}

.exercicios #bem-corpo {
   width:160px;
}

.exercicios input {
   display:block;
   margin-top:15px;
   appearance:none;
   height:20px;
   width:20px;
   transition:all 0.15s ease-out 0s;
   background:white;
   border:none;
   color:#fff;
}

.exercicios input:hover {
  background:#bfc7d1;
}

.exercicios input:checked {
  background:#40e0d0;
}

.exercicios input:checked::before {
   position:relative;
   left:3.5px;
   content: '✔';
}

.exercicios input:checked::after {
  background:#40e0d0;
  content: '';
  display: block;
}

.exercicios input {
  border-radius:50%;
}

.exercicios input::after {
  border-radius:50%;
}

.exercicios .opcoes {
   margin-top:20px;
}

.exercicios embed {
   border-radius:3px;
   width:350px;
   height:245px;
   margin-top:-230px;
   margin-left:200px;
   display:block;
   opacity:1;
}

.altura-do-usuario {
   margin:30px 0px 30px 0px;
}

#altura-user, #peso-user {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
}

#peso-user {
   margin-left:15px;
}

@media (max-width:970px) {
   #formulario .configura-nome label, input {
      display:block;  
   }

   #formulario .configura-nome input {
      margin:auto;
      font-size:16px;
      padding:5px;
   }

   #formulario .nascimento label, input {
      display:block;
   }

   #formulario .nascimento input {
      margin:auto;
      font-size:16px;
      padding:5px;
   }

   #formulario h1 {
      font-size:18px;
   }

   #formulario label {
      font-size:15px;
      letter-spacing:1px;
   }

   .sexo label {
      width:158px;
      text-align:left;
      display:block;
      margin:-21px 0px 0px 100px;
   }

   .sexo input {
      margin:20px 0px 0px 70px;
   }

   .exercicios {
      height:400px;
   }

   .opcoes {
      position:relative;
      top:195px;
      height:110px;
   }

   .opcoes label, input {
      position:relative;
   }

   .opcoes label {
      top:2px;
   }

   #formulario .opcoes label {
      width:130px;
   }

   #exercicios-constantes, #treino-regular {
      top:-35px;
      left:130px;
   }

   #treino-regular {
      top:-32px;
   }

   #mais-menos, #varia {
      top:-25px;
   }

   #varia {
      top:-23px;
   }

   #ryan, #bem-corpo {
      top:-60px;
      left:130px;
   }

   #formulario .opcoes #bem-corpo {
      width:110px;
   }

   #bem-corpo {
      top:-57px;
   }

   #simpson, #sedentario {
      top:-70px;
   }

   #sedentario {
      top:-68px;
   }

   .exercicios embed {
      width:285px;
      height:225px;
      margin-top:-155px;
      margin-left:0px;
   }

   .altura-do-usuario {
      margin:15px 0px 15px 0px;
   }

   #altura-user, #peso-user {
      margin:auto;
      padding:5px;
   }
}

@media (max-width:500px) {
   #formulario .exercicios {
      background:red;
      width:245px;
      height:370px;
      padding:0px;
   }

   .exercicios .opcoes {
      top:180px;
   }

   #formulario .opcoes #gosta-demais {
      width:75px;
      font-size:13px;
   }

   #formulario #gosta-demais {
      top:5px;
   }

   #formulario .opcoes #treino-regular {
      width:90px;
      font-size:13px;
   }

   #formulario #treino-regular {
      top:-30px;
   }

   #formulario .opcoes #mais-menos, #varia {
      top:-45px;
   }

   #formulario .opcoes #varia {
      top:-40px;
      font-size:13px;
   }

   #formulario .opcoes #bem-corpo {
      width:90px;
      font-size:13px;
   }

   #formulario #bem-corpo {
      top:-55px;
   }

   #formulario .opcoes #varia {
      width:85px;
   }

   #formulario .opcoes #simpson, #sedentario {
      top:-85px;
   }

   #formulario .opcoes #sedentario {
      width:100px;
      top:-80px;
      font-size:13px;
   }

   .exercicios embed {
      width:245px;
      height:205px;
      margin-top:-155px auto;
   }

   .altura-do-usuario {
      width:210px;
      display:block;
      margin:auto auto 30px auto;
   }
}