@charset 'UTF-8';

#formulario input {
   opacity:.8;
   letter-spacing:2px;
}

#formulario input:focus {
   outline:0;   
}

.configura-nome, .nascimento {
   display:block;
   margin-bottom:30px;
}

.configura-nome input {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
}

.nascimento {
   padding-top:10px;
   text-align:center;
}

.nascimento input {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
}

.primeira-parte.active .sexo {
   margin-top:70px;
}

.primeira-parte.active .sexo h1 {
   width:100px;
}

.sexo label {
   width:121px;
   text-align:left;
   display:block;
   margin:-24px 0px 0px 205px;
}

.sexo input {
   display:block;
   margin:20px 0px 0px 180px;  
}

.primeira-parte.active .exercicios {
   padding:10px;
   margin:40px;
}

.exercicios h1 {
   margin-bottom:30px;
   width:235px;
}

.exercicios input {
   display:block;
   margin-top:15px;
}

#formulario .exercicios label {
   letter-spacing:0px;
   display:block;
   margin-top:-24px;
   margin-left:25px;
   width:200px;
   text-align:left;
}

#formulario .exercicios #bem-corpo {
   width:110px;
}

.exercicios #bem-corpo {
   width:160px;
}

.exercicios .opcoes {
   margin-top:30px;
}

.exercicios embed {
   border-radius:3px;
   width:350px;
   height:253px;
   margin-top:-250px;
   margin-left:240px;
   display:block;
}

.altura-do-usuario {
   margin:30px 0px 30px 0px;
}

#altura-user, #peso-user {
   border-radius:10px;
   padding:10px 15px 10px 15px;
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
}

#peso-user {
   margin-left:15px;
   margin-bottom:50px;
}

@media (max-width:970px) {
   #formulario .configura-nome label, input, .nascimento label, input {
      display:block;  
   }

   #formulario .configura-nome input, .nascimento input {
      margin:auto;
      padding:5px;
   }

   #formulario label {
      font-size:15px;
      letter-spacing:1px;
   }

   .primeira-parte.active .sexo {
      margin-top:50px;
   }

   .primeira-parte.active .sexo h1 {
      width:70px;
   }

   .sexo label {
      width:106px;
      text-align:left;
      display:block;
      margin:-21px 0px 0px 95px;
   }

   .sexo input {
      margin:20px 0px 0px 70px;
   }

   .exercicios {
      height:490px;
   }

   .exercicios h1 {
      position:relative;
      top:-10px;
   }

   .primeira-parte.active .opcoes {
      position:relative;
      top:215px;
      height:200px;
   }

   .opcoes label, input {
      position:relative;
   }

   .opcoes label {
      top:3px;
      font-size:12px;
   }

   #formulario .opcoes label {
      width:130px;
   }

   #exercicios-constantes {
      top:20px;
      right:0px;
   }

   #formulario #treino-regular {
      width:173px;
      top:22px;
   }

   #formulario #mais-menos {
      top:-68px;
      left:170px;
   }

   .primeira-parte.active #varia {
      top:-65px;
      left:170px;
      width:71px;
   }

   .primeira-parte.active #ryan {
      top:-19px;
      right:0px;
   }

   #formulario .opcoes #bem-corpo {
      width:136px;
      top:-17px;
   }

   #pessoa-sedentaria, #sedentario {
      top:-10px;
   }

   .primeira-parte.active #sedentario {
      top:-7px;
      width:166px;
   }

   .exercicios embed {
      width:285px;
      height:225px;
      margin-top:-225px;
      margin-left:0px;
   }

   .altura-do-usuario {
      margin:15px 0px 15px 0px;
   }

   #altura-user, #peso-user {
      margin:auto;
      padding:5px;
   }
}

@media (max-width:500px) {
   #formulario .sexo {
      margin-top:40px;
   }

   #formulario .primeira-parte.active .sexo label {
      margin-top:-19px;
   }

   #formulario .exercicios h1 {
      width:180px;
      top:0px;
   }

   #formulario .exercicios {
      display:block;
      margin-left:auto;
      margin-right:auto;
      width:225px;
      height:460px;
      padding:0px;
   }

   #formulario .exercicios embed {
      width:225px;
      height:195px;
      position:relative;
      top:-223px;
      margin-top:auto;
   }

   .primeira-parte.active .opcoes {
      position:relative;
      top:190px;
      height:203px;
   }

   .altura-do-usuario {
      width:210px;
      display:block;
      margin:auto auto 10px auto;
   }

   .opcoes label {
      top:3px;
   }

   #formulario .opcoes label {
      width:130px;
   }

   #formulario .opcoes #gosta-demais {
      width:109px;
   }

   #formulario #gosta-demais {
      top:5px;
   }

   #formulario #exercicios-constantes {
      top:10px;
   }

   #formulario #treino-regular {
      width:156px;
      top:14px;
   }

   #formulario .opcoes #mais-menos {
      top:22px;
      left:0px;
   }

   #formulario .opcoes #varia {
      top:27px;
      left:0px;
      width:120px;
   }

   .primeira-parte.active #ryan {
      top:35px;
      right:0px;
   }

   #formulario .opcoes #bem-corpo {
      width:122px;
      top:39px;
   }

   #pessoa-sedentaria, #sedentario {
      top:41px;
   }

   .primeira-parte.active #sedentario {
      top:46px;
      width:150px;
   } 

   #peso-user {
      margin-bottom:60px;
   }
}