@charset 'UTF-8';

#formulario .terceira-parte.active div {
   display:block;
   margin:auto;
   margin-bottom:30px;
}

#formulario .terceira-parte.active h1 {
   display:block;
   margin-bottom:30px;
}

#formulario .terceira-parte.active input {
   position:relative;
}

#formulario .terceira-parte.active label {
   position:relative;
   top:-22px;
   display:block;
   margin:auto;
   text-align:left;
   width:90px;
}

.substancias input, .ansiedade input, .depressao input, .suicidio input, .satisfeito-vida input {
   display:block;
   margin:20px 0px 0px 150px;
}

#formulario .terceira-parte.active .substancias {
   height:320px;
   width:400px;
   margin-top:-20px;
}

#formulario .terceira-parte.active .substancias h1 {
   width:360px;
}

#formulario .terceira-parte.active .substancias input {
   border-radius:5px;
}

#formulario .terceira-parte.active #alcool {
   right:120px;
}

#formulario .terceira-parte.active #l-alcool {
   right:115px;
   top:-24px;
   width:62px;
}

#formulario .terceira-parte.active #ex-alcoolatra {
   top:-68px;
   left:60px;
}

#formulario .terceira-parte.active #l-ex-alcoolatra {
   top:-93px;
   width:137px;
   left:103px;
}

#formulario .terceira-parte.active #cigarro {
   top:-80px;
   right:120px;
}

#formulario .terceira-parte.active #l-cigarro {
   top:-105px;
   width:75px;
   right:107px;
}

#formulario .terceira-parte.active #ex-fumante {
   top:-150px;
   left:60px;
}

#formulario .terceira-parte.active #l-ex-fumante {
   width:119px;
   top:-174px;
   left:94px;
}

#formulario .terceira-parte.active #entorpecentes {
   top:-160px;
   right:120px;
}

#formulario .terceira-parte.active #l-entorpecentes {
   top:-184px;
   width:145px;
   right:72px;
}

#formulario .terceira-parte.active #ex-dependente {
   top:-228px;
   left:60px;
}

#formulario .terceira-parte.active #l-ex-dependente {
   top:-253px;
   left:112px;
   width:153px;
}

#formulario .terceira-parte.active #reabilitacao {
   top:-240px;
   left:150px;
}

#formulario .terceira-parte.active #l-reabilitacao {
   top:-264px;
   right:14px;
   width:221px;
}

#formulario .terceira-parte.active #limpo-substancias {
   top:-260px;
   left:150px;
}

#formulario .terceira-parte.active #l-limpo-substancias {
   top:-285px;
   right:27px;
   width:247px;
}

#formulario .terceira-parte.active .ansiedade {
   height:220px;
   width:220px;
   margin-top:80px;
}

#formulario #nenhuma-ansiedade {
   right:140px;
}

#formulario #l-nenhuma-ansiedade {
   right:30px;
   top:-24px;
}

#formulario #pouca-ansiedade {
   right:140px;
   top:-20px;
}

#formulario #l-pouca-ansiedade {
   top:-45px;
   left:17px;
   width:185px;
}

#formulario #bastante-ansioso {
   left:-140px;
   top:-40px;
}

#formulario #l-bastante-ansioso {
   top:-63px;
   right:8px;
   width:135px;
}

#formulario .terceira-parte.active .depressao {
   width:230px;
   height:270px;
   margin-top:80px;
}

#formulario #nenhuma-depre {
   right:140px;
}

#formulario #l-nenhuma-depre {
   top:-24px;
   right:60px;
   width:37px;
}

#formulario #ja-teve-depre {
   top:-69px;
   right:50px;
}

#formulario #l-ja-teve-depre {
   top:-93px;
   left:45px;
   width:67px;
}

#formulario #tratamento-depre {
   top:-80px;
   right:140px;
}

#formulario #l-tratamento-depre {
   top:-104px;
   right:3px;
   width:152px;
}

#formulario #ajuda-depre {
   top:-100px;
   left:-140px;
}

#formulario #l-ajuda-depre {
   width:160px;
   top:-125px;
   right:0px;
}

#formulario .terceira-parte.active .pergunta-sensivel {
   display:none;
}

#formulario .terceira-parte.active .pergunta-sensivel.active {
   display:block;
   width:350px;
   height:315px;
   margin-top:60px;
}

#formulario .terceira-parte.active .pergunta-sensivel.active h1 {
   width:190px;
}

#formulario .terceira-parte.active .pergunta-sensivel.active span {
   cursor:pointer;
   background:orange;
   color:black;
   text-transform:uppercase;
   font-size:13px;
   opacity:.8;
   padding:10px 5px 7px 10px;
   border-radius:10px;
   position:relative;
   top:180px;
   letter-spacing:6px;
   text-align:center;
   font-family:'Baloo Thambi 2', cursive;
}

#formulario .terceira-parte.active .pergunta-sensivel.active span:hover {
   opacity:1;
}

.aviso-pergunta-sensivel {
   display:none;
}

.aviso-pergunta-sensivel.active {
   display:block;
   background:rgba(0,0,0,.4);
   position:fixed;
   width:100vw;
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
}

.aviso-pergunta-sensivel.active .simples-mensagem {
   text-align:center;
   width:250px;
   height:150px;
   margin-right:20px;
   border-radius:13px;
   padding:30px;
   color:#fff;
   background:#B59047;
   font-size:18px;
   text-align:left;
   font-family:'Baloo Thambi 2', cursive;
}

.aviso-pergunta-sensivel.active .fechar-aviso-por-x {
   font-size:30px;
   top:-62px;
   color:#fff;
   opacity:.8;
   position:relative;
   left:245px;
   cursor:pointer;
}

.aviso-pergunta-sensivel.active .fechar-aviso-por-x:hover {
   opacity:1;
}

.aviso-pergunta-sensivel.active .simples-mensagem p {
   opacity:.7;
}

.aviso-pergunta-sensivel.active .simples-mensagem span {
   font-family:'Baloo Thambi 2', cursive;
   font-size:14px;
   color:black;
   opacity:.7;
   display:block;
   letter-spacing:0px;
   background:#fff;
   width:123px;
   padding:5px;
   border-radius:9px;
   cursor:pointer;
   text-align:center;
   text-transform:uppercase;
   position:relative;
   letter-spacing:4px;
   width:103px;
}

.aviso-pergunta-sensivel.active .simples-mensagem span:hover {
   opacity:1;
}

.aviso-pergunta-sensivel.active .simples-mensagem .abrir-pergunta-sensivel {
   top:20px;
   left:-15px;
}

.aviso-pergunta-sensivel.active .simples-mensagem .deixar-pergunta-sensivel-fechada {
   left:100px;
   top:-12px;
}

#formulario .terceira-parte.active .suicidio {
   width:320px;
   height:180px;
   margin-top:-250px;
   filter:blur(8px);
   user-select:none;
   margin-bottom:121px;
}

#formulario #n-suicidio {
   right:120px;
   top:-10px;
}

#formulario #l-n-suicidio {
   top:-34px;
   width:62px;
   right:74px;
}

#formulario #as-vezes-suicidio {
   top:-80px;
}

#formulario #l-as-vezes-suicidio {
   top:-103px;
   left:56px;
   width:83px;
}

#formulario #constante-suicidio {
   top:-100px;
   right:120px;
}

#formulario #l-constante-suicidio {
   top:-124px;
   width:233px;
   left:10px;
}

#formulario .terceira-parte.active .satisfeito-vida {
   width:320px;
   height:465px;
   margin-top:80px;
   margin-bottom:100px;
}

#formulario #muito-bom {
   right:145px;
}

#formulario #l-muito-bom {
   width:173px;
   right:45px;
   top:-25px;
}

#formulario #bom {
   right:145px;
   top:-10px;
}

#formulario #l-bom {
   top:-34px;
   width:237px;
   right:14px;
}

#formulario #nao-sei-vida {
   right:65px;
   top:-15px;
}

#formulario #l-nao-sei-vida {
   top:-39px;
   width:75px;
   right:15px;
}

#formulario #ruim {
   left:145px;
   top:-20px;
}

#formulario #l-ruim {
   width:156px;
   top:-44px;
   left:52px;
}

#formulario #muito-ruim {
   left:145px;
   top:-25px;
}

#formulario #l-muito-ruim {
   width:185px;
   left:38px;
   top:-50px;
}

@media (max-width:970px) {
   #formulario .terceira-parte.active div h1 {
      font-size:19px;
   }
   
   #formulario .terceira-parte.active .substancias {
      width:340px;
      height:280px;
      margin-top:40px;
   } 

   #formulario .terceira-parte.active .substancias h1 {
      width:310px;
   }

   #formulario .terceira-parte.active .substancias #alcool {
      right:120px;
   }

   #formulario .terceira-parte.active .substancias #l-alcool {
      right:92px;
      margin-top:3px;
      width:46px;
   }

   #formulario .terceira-parte.active .substancias #ex-alcoolatra {
      top:-66px;
      left:20px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-alcoolatra {
      top:-87px;
      width:101px;
      left:75px;
   }

   #formulario .terceira-parte.active .substancias #cigarro {
      top:-80px;
      right:120px;
   }

   #formulario .terceira-parte.active .substancias #l-cigarro {
      top:-102px;
      width:55px;
      right:88px;
   }

   #formulario .terceira-parte.active .substancias #ex-fumante {
      top:-143px;
      left:20px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-fumante {
      width:88px;
      top:-165px;
      left:68px;
   }

   #formulario .terceira-parte.active .substancias #entorpecentes {
      top:-157px;
      right:120px;
   }

   #formulario .terceira-parte.active .substancias #l-entorpecentes {
      top:-179px;
      width:107px;
      right:62px;
   }

   #formulario .terceira-parte.active .substancias #ex-dependente {
      top:-220px;
      left:20px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-dependente {
      top:-242px;
      left:81px;
      width:114px;
   }

   #formulario .terceira-parte.active #reabilitacao {
      top:-233px;
      left:80px;
   }

   #formulario .terceira-parte.active #l-reabilitacao {
      top:-255px;
      right:26px;
      width:163px;
   }

   #formulario .terceira-parte.active #limpo-substancias {
      top:-250px;
      left:80px;
   }

   #formulario .terceira-parte.active #l-limpo-substancias {
      top:-272px;
      right:37px;
      width:183px;
   }

   #formulario .terceira-parte.active .ansiedade {
      height:220px;
      width:220px;
      margin-top:70px;
   }

   #formulario .terceira-parte.active .ansiedade {
      height:180px;
      width:200px;
   }

   #formulario #nenhuma-ansiedade {
      right:140px;
      top:-20px;
   }

   #formulario #l-nenhuma-ansiedade {
      right:30px;
      top:-41px;
      width:70px;
   }

   #formulario #pouca-ansiedade {
      right:140px;
      top:-40px;
   }

   #formulario #l-pouca-ansiedade {
      top:-61px;
      left:3px;
      width:136px;
   }

   #formulario #bastante-ansioso {
      left:-140px;
      top:-60px;
   }

   #formulario #l-bastante-ansioso {
      left:-15px;
      top:-80px;
      width:100px;
   }

   #formulario .terceira-parte.active .depressao {
      width:205px;
      height:200px;
      margin-top:70px;
   }

   #formulario #nenhuma-depre {
      right:140px;
      top:-15px;
   }

   #formulario #l-nenhuma-depre {
      top:-37px;
      right:55px;
      width:30px;
   }

   #formulario #ja-teve-depre {
      top:-78px;
      right:60px;
   }

   #formulario #l-ja-teve-depre {
      top:-99px;
      left:35px;
      width:49px;
   }

   #formulario #tratamento-depre {
      top:-100px;
      right:140px;
   }

   #formulario #l-tratamento-depre {
      top:-120px;
      right:14px;
      width:112px;
   }

   #formulario #ajuda-depre {
      top:-120px;
      left:-140px;
   }

   #formulario #l-ajuda-depre {
      width:118px;
      top:-142px;
      right:10px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active {
      width:290px;
      height:255px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active h1 {
      width:160px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active span {
      font-size:11px;
      padding:10px 5px 7px 10px;
      top:130px;
      letter-spacing:6px;
   }

  #formulario .terceira-parte.active .suicidio {
      width:280px;
      height:150px;
      margin-top:-220px;
      margin-bottom:110px;
   }

   #formulario .terceira-parte.active .suicidio h1 {
      width:280px;
   }

   #formulario #n-suicidio {
      right:120px;
      top:-10px;
   }

   #formulario #l-n-suicidio {
      top:-31px;
      width:45px;
      right:65px;
   }

   #formulario #as-vezes-suicidio {
      top:-73px;
      right:30px;
   }

   #formulario #l-as-vezes-suicidio {
      top:-94px;
      left:36px;
      width:64px;
   }

   #formulario #constante-suicidio {
      top:-90px;
      right:120px;
   }

   #formulario #l-constante-suicidio {
      top:-111px;
      width:172px;
      left:-1px;
   }

   #formulario .terceira-parte.active .satisfeito-vida {
      width:280px;
      height:385px;
      margin-top:70px;
      margin-bottom:70px;
   }

   #formulario #muito-bom {
      right:145px;
   }

   #formulario #l-muito-bom {
      width:133px;
      right:45px;
      top:-22px;
   }

   #formulario #bom {
      right:145px;
      top:-13px;
   }

   #formulario #l-bom {
      top:-34px;
      width:138px;
      right:43px;
   }

   #formulario #nao-sei-vida {
      right:65px;
      top:-23px;
   }

   #formulario #l-nao-sei-vida {
      top:-45px;
      width:55px;
      right:5px;
   }

   #formulario #ruim {
      left:105px;
      top:-35px;
   }

   #formulario #l-ruim {
      width:115px;
      top:-57px;
      left:53px;
   }

   #formulario #muito-ruim {
      left:105px;
      top:-46px;
   }

   #formulario #l-muito-ruim {
      width:135px;
      left:43px;
      top:-68px;
   }
}

@media (max-width:500px) {
   #formulario .terceira-parte.active #titulo-terceira-parte {
      width:265px;
      margin-bottom:15px;
   }

   #formulario .terceira-parte.active div h1 {
      font-size:17px;
   }

   #formulario .terceira-parte.active label {
      font-size:13px;
   }

   #formulario .terceira-parte.active .substancias {
      height:275px;
      width:260px;
   }

   #formulario .terceira-parte.active .substancias h1 {
      width:170px;
   }

   #formulario .terceira-parte.active .substancias #alcool {
      right:140px;
      top:-10px;
   }

   #formulario .terceira-parte.active .substancias #l-alcool {
      right:77px;
      top:-33px;
      width:40px;
   }

   #formulario .terceira-parte.active .substancias #ex-alcoolatra {
      top:-73px;
      left:-15px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-alcoolatra {
      top:-93px;
      width:89px;
      left:73px;
   }

   #formulario .terceira-parte.active .substancias #cigarro {
      top:-90px;
      right:140px;
   }

   #formulario .terceira-parte.active .substancias #l-cigarro {
      top:-110px;
      width:48px;
      right:73px;
   }

   #formulario .terceira-parte.active .substancias #ex-fumante {
      top:-150px;
      left:-15px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-fumante {
      width:77px;
      top:-170px;
      left:67px;
   }

   #formulario .terceira-parte.active .substancias #entorpecentes {
      top:-167px;
      right:140px;
   }

   #formulario .terceira-parte.active .substancias #l-entorpecentes {
      top:-187px;
      width:95px;
      right:49px;
   }

   #formulario .terceira-parte.active .substancias #ex-dependente {
      top:-228px;
      left:-15px;
   }

   #formulario .terceira-parte.active .substancias #l-ex-dependente {
      top:-248px;
      left:78px;
      width:100px;
   }

   #formulario .terceira-parte.active #reabilitacao {
      top:-242px;
      left:35px;
   }

   #formulario .terceira-parte.active #l-reabilitacao {
      top:-262px;
      right:21px;
      width:144px;
   }

   #formulario .terceira-parte.active #limpo-substancias {
      top:-260px;
      left:35px;
   }

   #formulario .terceira-parte.active #l-limpo-substancias {
      top:-280px;
      right:29px;
      width:161px;
   }

   #formulario .terceira-parte.active .ansiedade {
      height:165px;
   }

   #formulario .terceira-parte.active .ansiedade h1 {
      width:170px;
   }

   #formulario #nenhuma-ansiedade {
      top:-15px;
   }

   #formulario #l-nenhuma-ansiedade {
      top:-35px;
   }

   #formulario #pouca-ansiedade {
      top:-35px;
   }

   #formulario #l-pouca-ansiedade {
      top:-55px;
   }

   #formulario #bastante-ansioso {
      top:-55px;
   }

   #formulario #l-bastante-ansioso {
      top:-75px;
   }

   #formulario .terceira-parte.active .depressao {
      width:205px;
      height:200px;
   }

   #formulario .terceira-parte.active .depressao h1 {
      width:175px;
   }

   #formulario #l-nenhuma-depre {
      top:-34px;
      right:55px;
      width:27px;
   }

   #formulario #ja-teve-depre {
      top:-75px;
   }

   #formulario #l-ja-teve-depre {
      top:-94px;
      left:33px;
      width:45px;
   }

   #formulario #tratamento-depre {
      top:-90px;
      right:140px;
   }

   #formulario #l-tratamento-depre {
      top:-110px;
      right:14px;
      width:112px;
   }

   #formulario #ajuda-depre {
      top:-110px;
      left:-140px;
   }

   #formulario #l-ajuda-depre {
      width:118px;
      top:-129px;
      right:10px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active {
      width:250px;
      height:245px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active h1 {
      width:140px;
   }

   #formulario .terceira-parte.active .pergunta-sensivel.active span {
      font-size:12px;
      padding:8px 7px 5px 10px;
      top:130px;
      letter-spacing:3px;
   }

   #formulario .terceira-parte.active .suicidio {
      margin-top:-210px;
   }

   .aviso-pergunta-sensivel.active .simples-mensagem {
      font-size:16px;
      width:230px;
      height:140px;
   }

   .aviso-pergunta-sensivel.active .fechar-aviso-por-x {
      top:-57px;
      left:225px;
   }

   .aviso-pergunta-sensivel.active .simples-mensagem span {
      font-size:12px;
      width:93px;
   }

   .aviso-pergunta-sensivel.active .simples-mensagem .abrir-pergunta-sensivel {
      top:15px;
   }

   .aviso-pergunta-sensivel.active .simples-mensagem .deixar-pergunta-sensivel-fechada {
      left:85px;
      top:-14px;
   }

   #formulario .terceira-parte.active .suicidio {
      width:250px;
      height:140px;
   }

   #formulario .terceira-parte.active .suicidio h1 {
      width:250px;
   }

   #formulario #n-suicidio {
      right:130px;
      top:-10px;
   }

   #formulario #l-n-suicidio {
      top:-29px;
      right:63px;
      width:40px;
   }

   #formulario #as-vezes-suicidio {
      top:-70px;
      left:-40px;
   }

   #formulario #l-as-vezes-suicidio {
      top:-89px;
      left:36px;
      width:56px;
   }

   #formulario #constante-suicidio {
      right:130px;
   }

   #formulario #l-constante-suicidio {
      top:-109px;
      width:151px;
      left:-8px;
   }

   #formulario .terceira-parte.active .satisfeito-vida {
      height:340px;
      width:260px;
   }

   #formulario #muito-bom {
      right:145px;
      top:-10px;
   }

   #formulario #l-muito-bom {
      width:113px;
      right:45px;
      top:-29px;
   }

   #formulario #bom {
      right:145px;
      top:-25px;
   }

   #formulario #l-bom {
      top:-44px;
      width:122px;
      right:41px;
   }

   #formulario #nao-sei-vida {
      right:73px;
      top:-38px;
   }

   #formulario #l-nao-sei-vida {
      top:-58px;
      width:49px;
      right:5px;
   }

   #formulario #ruim {
      left:87px;
      top:-52px;
   }

   #formulario #l-ruim {
      width:102px;
      top:-72px;
      left:53px;
   }

   #formulario #muito-ruim {
      left:87px;
      top:-65px;
   }

   #formulario #l-muito-ruim {
      width:120px;
      left:44px;
      top:-85px;
   }
}

@media (max-width:320px) {
   #formulario .terceira-parte.active #titulo-terceira-parte {
      width:185px;
   }
}