@charset 'UTF-8';

#formulario .primeira-parte.active input {
   opacity:.8;
   letter-spacing:2px;
   font-family:'Baloo Thambi 2', cursive;
   font-size:16px;
}

#formulario input:focus {
   outline:0;   
}

#formulario input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
   appearance:none;
   margin:0;
}

#formulario input[type=date] {
   color:transparent;
   background-color:#F2F2F2;
   background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQlocEIs9UbgxZWp1Son4-rI_cM7-bS7nLQfoWRFz77yRAk35jbqBjFmnU1DgQZRQZ834&usqp=CAU') no-repeat center;
   cursor:pointer;
   height:3.2rem;
   background-clip:content-box;
   border-bottom:.1rem dashed #F2F2F2;
   border-right:.1rem dashed #F2F2F2;
   box-shadow:2px 2px 4px rgba(0,0,0.7);
   animation:altera-rgba 2.3s linear infinite;
   opacity:.4;
   transition:.3s;
}

#formulario input[type=date]:hover {
   animation:none;
   transition:.6s;
   opacity:1;
}

@keyframes altera-rgba {
   0% {
      border-bottom:.1rem dashed #F2F2F2;
      border-right:.1rem dashed #F2F2F2;
   }

   50% {
      border-bottom:.1rem dashed #f2f2f246;
      border-right:.1rem dashed #f2f2f246;
   }

   100% {
      border-bottom:.1rem dashed #F2F2F2;
      border-right:.1rem dashed #F2F2F2;
   }
}

#tela-borrada-para-mostrar-calendario, .calendario {
   display:block;
}

#tela-borrada-para-mostrar-calendario {
   position:fixed;
   width:100vw;
   height:100vh;
   top:0;
   left:0;
   backdrop-filter:blur(2px);
   background:rgba(0,0,0,.5);
}

.calendario {
   font-family:'Kalam', cursive;
   padding:2rem;
   position:fixed;
   width:37.5rem;
   height:31.25rem;
   border-radius:3rem;
   overflow-y:auto;
   place-items:center;
   box-shadow:4px 4px 8px rgba(0,0,0,.6);
   border:.125rem solid #804C2B;
   background:#fe690a;
   background:linear-gradient(135deg, rgba(254,105,10,1) 8%, rgba(233,124,9,1) 42%, rgba(254,105,10,1) 86%);
}

.calendario img,  {
   cursor:pointer;
   transition:.3s;
}

.calendario div:nth-child(1), .calendario ul:nth-child(1) {
   display:flex;
   justify-content:space-between;
   align-items:center;
   font-size:1.5rem;
} 

.calendario ul {
   list-style:none;
   display:flex;
}

.calendario ul:nth-child(1) {
   font-size:1.1rem;
}

.calendario .dias {
   font-size:1.3rem;
   flex-wrap:wrap;
} 

.configura-nome, .nascimento {
   display:block;
   margin-bottom:30px;
}

.configura-nome input {
   border:1px solid rgba(0,0,0,.2);
   width:170px;
}

.nascimento {
   padding-top:10px;
   text-align:center;
}

.nascimento input {
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
   width:180px;
}

.primeira-parte.active .sexo {
   margin-top:70px;
}

.primeira-parte.active .sexo h1 {
   width:100px;
}

.sexo label {
   width:121px;
   text-align:left;
   display:block;
   margin:-24px 0px 0px 205px;
}

.sexo input {
   display:block;
   margin:20px 0px 0px 180px;  
}

#formulario .primeira-parte.active .exercicios {
   padding:10px;
   margin-left:40px;
   margin-right:40px;
   margin-bottom:40px;
   margin-top:60px;
}

.exercicios h1 {
   margin-bottom:30px;
   width:235px;
}

.exercicios input {
   display:block;
   margin-top:15px;
}

#formulario .exercicios label {
   letter-spacing:0px;
   display:block;
   margin-top:-24px;
   margin-left:25px;
   width:200px;
   text-align:left;
}

#formulario .exercicios #bem-corpo {
   width:110px;
}

.exercicios #bem-corpo {
   width:160px;
}

.exercicios .opcoes {
   margin-top:30px;
}

.exercicios embed {
   border-radius:3px;
   width:350px;
   height:253px;
   margin-top:-250px;
   margin-left:240px;
   display:block;
}

.altura-do-usuario, .peso-usuario {
   margin-left:0px;
   margin-right:0px;
}

.altura-do-usuario {
   margin-top:90px;
}

.peso-usuario {
   margin-top:50px;
   margin-bottom:70px;
}

#altura-user, #peso-user {
   border:1px solid rgba(0,0,0,.2);
   font-size:17px;
   text-align:center;
   font-family:'Baloo Thambi 2', cursive;
   width:170px;
}

#peso-user {
   margin-left:15px;
}

.primeira-parte.active .mensagem-erro {
   position:fixed;
   width:150px;
   top:40px;
   background:orangered;
   border-radius:10px 0rem 0rem 2rem;
   font-size:15px;
   display:none;
   opacity:.8;
   transition:.3s;
   box-shadow:2px 2px 2px rgba(0,0,0,.6);
   animation:vem-da-direita .3s linear forwards;
}

@keyframes vem-da-direita {
   0% { right:-160px; }

   100% { right:5px; }
}

@media (max-width:970px) {
   #formulario .primeira-parte.active .configura-nome {
      margin-top:25px;
      margin-bottom:0px;
   }

   #formulario .primeira-parte.active .nascimento {
      margin-top:10px;
   }

   #formulario .configura-nome label, input, .nascimento label, input {
      display:block;  
   }

   #formulario .configura-nome input, .nascimento input {
      margin:auto;
      padding:5px;
   }

   #formulario input[type=date] {
      height:2.7rem;
      margin-top:.3rem;
   }

   #formulario label {
      font-size:15px;
      letter-spacing:1px;
   }

   .primeira-parte.active .sexo {
      margin-top:60px;
   }

   .primeira-parte.active .sexo h1 {
      width:70px;
   }

   .sexo label {
      width:106px;
      text-align:left;
      display:block;
      margin:-21px 0px 0px 95px;
   }

   .sexo input {
      margin:20px 0px 0px 70px;
   }

   .exercicios {
      height:490px;
   }

   .exercicios h1 {
      position:relative;
      top:-10px;
   }

   .primeira-parte.active .opcoes {
      position:relative;
      top:215px;
      height:200px;
   }

   .opcoes label, input {
      position:relative;
   }

   .opcoes label {
      top:3px;
      font-size:12px;
   }

   #formulario .opcoes label {
      width:130px;
   }

   #exercicios-constantes {
      top:20px;
      right:0px;
   }

   #formulario #treino-regular {
      width:173px;
      top:22px;
   }

   #formulario #mais-menos {
      top:-68px;
      left:170px;
   }

   .primeira-parte.active #varia {
      top:-65px;
      left:170px;
      width:71px;
   }

   .primeira-parte.active #ryan {
      top:-19px;
      right:0px;
   }

   #formulario .opcoes #bem-corpo {
      width:136px;
      top:-17px;
   }

   #pessoa-sedentaria, #sedentario {
      top:-10px;
   }

   .primeira-parte.active #sedentario {
      top:-7px;
      width:166px;
   }

   .exercicios embed {
      width:285px;
      height:225px;
      margin-top:-225px;
      margin-left:0px;
   }

   #formulario .primeira-parte.active #altura-user, #peso-user {
      margin:auto;
      padding:5px;
   }

   #formulario .primeira-parte.active .altura-do-usuario {
      margin-top:65px;
      margin-bottom:0px;
   }

   #formulario .primeira-parte.active .peso-usuario {
      margin-top:40px;
      margin-bottom:70px;
   }
}

@media (max-width:800px) {
   .primeira-parte.active .mensagem-erro {
      border-radius:10px 1rem 1rem 2rem;
      animation:vem-da-direita-1000 .3s linear forwards;
      font-size:12px;
      width:120px;
   }

   @keyframes vem-da-direita-1000 {
      0% { right:-120px; }

      100% { right:21px; }
   }
}

@media (max-width:500px) {
   #formulario .primeira-parte.active input {
      font-size:13px;
   }

   .primeira-parte.active #formulario .sexo, .exercicios {
      margin-top:60px;
   }

   #formulario .primeira-parte.active .sexo label {
      margin-top:-19px;
   }

   #formulario .primeira-parte.active .exercicios {
      display:block; 
      margin-left:auto;
      margin-right:auto;
      width:225px;
      height:460px;
      padding:0px;
   }

   #formulario .primeira-parte.active .exercicios h1 {
      width:180px;
      top:0px;
   }

   #formulario .exercicios embed {
      width:225px;
      height:195px;
      position:relative;
      top:-223px;
      margin-top:auto;
   }

   .primeira-parte.active .opcoes {
      position:relative;
      top:190px;
      height:203px;
   }

   .altura-do-usuario {
      width:210px;
      display:block;
      margin:auto auto 10px auto;
   }

   .opcoes label {
      top:3px;
   }

   #formulario .opcoes label {
      width:130px;
   }

   #formulario .opcoes #gosta-demais {
      width:109px;
   }

   #formulario #gosta-demais {
      top:5px;
   }

   #formulario #exercicios-constantes {
      top:10px;
   }

   #formulario #treino-regular {
      width:156px;
      top:14px;
   }

   #formulario .opcoes #mais-menos {
      top:22px;
      left:0px;
   }

   #formulario .opcoes #varia {
      top:27px;
      left:0px;
      width:120px;
   }

   .primeira-parte.active #ryan {
      top:35px;
      right:0px;
   }

   #formulario .opcoes #bem-corpo {
      width:122px;
      top:39px;
   }

   #pessoa-sedentaria, #sedentario {
      top:41px;
   }

   .primeira-parte.active #sedentario {
      top:46px;
      width:150px;
   } 

   #formulario .primeira-parte.active .altura-do-usuario {
      margin-top:40px;
   }

   #formulario .primeira-parte.active .peso-usuario {
      margin:25px auto 60px auto;
   }
}