@charset 'UTF-8';

#jornada {
   display:none;
}

#jornada.active {
   display:flex;
   justify-content:center;
   align-items:center;
   animation:mostra .2s;
}

#jornada.active #formulario {
   border-radius:2px;
   position:absolute;
   top:0px;
   padding:10px;
   display:flex;
   overflow-y:auto;
   width:75vw;
   height:100vh;
   justify-content:center;
   scrollbar-width:thin;
   scrollbar-color:#7c6a6a;
   font-family: 'Baloo Thambi 2', cursive;
   background:transparent;
}

#formulario::-webkit-scrollbar {
  width:7px;
}

#formulario::-webkit-scrollbar-track {
  background:#7c6a6a;
}

#formulario::-webkit-scrollbar-thumb {
  background-color:#B59047;
  border-radius:5px;
  border:3px solid #B59047;
}

#formulario div {
   text-align:center;
}

#formulario .fases {
   padding-top:60px;
   padding-bottom:60px;
   font-size:30px;
   letter-spacing:6px;
   color:#F2F2F2;
   border:none;
   background:none;
   text-transform:uppercase;
}

.primeira-parte, .segunda-parte, .terceira-parte {
   display:none;
}

.primeira-parte.active, .segunda-parte.active, .terceira-parte.active {
   display:block;
} 

.segunda-parte.active, .terceira-parte.active {
   animation:mostra .2s;
}

@keyframes mostra {
   0% {
      opacity:0;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}

#formulario .segunda-parte.active #volta-primeira-etapa, .terceira-parte.active #volta-segunda-etapa {
   position:absolute;
   top:82px;
   left:3px;
}

#formulario span img {
   width:25px;
   height:25px;
   opacity:.8;
}

#formulario span img:hover {
   opacity:1;
}

#formulario .primeira-parte.active #infos-primeira-etapa, .segunda-parte.active #infos-segunda-etapa, .terceira-parte.active #entregar-formulario {
   font-size:19px;
   display:block;
   margin-top:40px;
   margin-left:auto;
   margin-right:auto;
   width:120px;
   padding-bottom:120px;
   font-family:'Kalam', cursive;
   letter-spacing:2px;
   position:relative;
   left:3px;
}

#formulario .primeira-parte.active #infos-primeira-etapa #proxima-pagina, .segunda-parte.active #infos-segunda-etapa #proxima-pagina, .terceira-parte.active #entregar-formulario #proxima-pagina {
   border-radius:10px;
   position:relative;
   left:0px;
   color:black;
   text-decoration:none;
   text-transform:uppercase;
   opacity:.8;
   padding:7px 6px 3px 6px;
   background:#F2F2F2;
   border-bottom:2px solid rgba(0,0,0,.7);
}

#formulario .primeira-parte.active #infos-primeira-etapa #proxima-pagina:hover, .segunda-parte.active #infos-segunda-etapa #proxima-pagina:hover, .terceira-parte.active #entregar-formulario #proxima-pagina:hover {
   opacity:.9;
   border-bottom:0px;
}

#jornada.active #formulario p {
   display:block;
   margin:10px;
}

#formulario .primeira-parte.active div h1, .segunda-parte.active div h1, .terceira-parte.active div h1 {
   border-radius:10px;
   background:orange;
   font-size:22px;
   color:rgb(37, 26, 26);
   opacity:.8;
   margin:auto;
}

#formulario .primeira-parte.active label, .segunda-parte.active label, .terceira-parte.active label {
   color:rgb(245, 243, 239);
   font-size:19px;
   letter-spacing:2px;
   opacity:.8;
}

#formulario .sexo input, .exercicios input, .dieta input, .saude input, .vida-sexual input, .sono input, .kids input, .dieta input, .saude input, .vida-sexual input, .sono input, .kids input, .substancias input, .ansiedade input, .depressao input, .suicidio input, .satisfeito-vida input {
   appearance:none;
   height:20px;
   width:20px;
   transition:all 0.15s ease-out 0s;
   background:white;
   border:none;
   color:#fff;
}

#formulario .sexo input, .exercicios input, .dieta input, .saude input, .vida-sexual input, .sono input, .kids input, .dieta input, .saude input, .vida-sexual input, .sono input, .kids input, .ansiedade input, .depressao input, .suicidio input, .satisfeito-vida input {
   border-radius:50%;
}

#formulario .sexo input:hover, .exercicios input:hover, .dieta input:hover, .saude input:hover, .vida-sexual input:hover, .sono input:hover, .kids input:hover, .substancias input:hover, .ansiedade input:hover, .depressao input:hover, .suicidio input:hover, .satisfeito-vida input:hover {
  background:#B59047;
}

#formulario .sexo input:checked, .exercicios input:checked, .dieta input:checked, .saude input:checked, .vida-sexual input:checked, .sono input:checked, .kids input:checked, .substancias input:checked, .ansiedade input:checked, .depressao input:checked, .suicidio input:checked, .satisfeito-vida input:checked {
  background:#B59047;
}

#formulario .sexo input:checked::before, .exercicios input:checked::before, .dieta input:checked::before, .saude input:checked::before, .vida-sexual input:checked::before, .sono input:checked::before, .kids input:checked::before, .substancias input:checked::before, .ansiedade input:checked::before, .depressao input:checked::before, .suicidio input:checked::before, .satisfeito-vida input:checked::before {
   position:relative;
   left:5px;
   content: '✔';
}

#formulario .sexo input:checked::after, .exercicios input:checked::after, .dieta input:checked::after, .saude input:checked::after, .vida-sexual input:checked::after, .sono input:checked::after, .kids input:checked::after, .substancias input:checked::after, .ansiedade input:checked::after, .depressao input:checked::after, .suicidio input:checked::after, .satisfeito-vida input:checked::after {
  background:#B59047;
  content: '';
  display: block;
}

#formulario .sexo input::after, .exercicios input::after, .dieta input::after, .saude input::after, .vida-sexual input::after, .sono input::after, .kids input::after, .ansiedade input::after, .depressao input::after, .suicidio input::after, .satisfeito-vida input::after  {
  border-radius:50%;
}

@media (max-width:970px) {
   #formulario .fases {
      font-size:18px;
      letter-spacing:2px;
      padding-bottom:20px;
   }

   #formulario .segunda-parte.active #volta-primeira-etapa, .terceira-parte.active #volta-segunda-etapa {
      position:absolute;
      top:75px;
      left:2px;
   }

   #formulario .segunda-parte.active #volta-primeira-etapa img, .terceira-parte.active #volta-segunda-etapa img {
      width:16px;
      height:16px;
   }

   #formulario .primeira-parte.active #infos-primeira-etapa, .segunda-parte.active #infos-segunda-etapa, .terceira-parte.active #entregar-formulario {
      width:90px;
      left:4px;
   }

   #formulario #proxima-pagina {
      margin-left:0px;
      padding:7px 6px 3px 6px;
      font-size:13px;
   }

   #formulario .primeira-parte.active div h1, .segunda-parte.active div h1 {
      font-size:19px;
   }

   #formulario .primeira-parte.active label, .segunda-parte.active label, .terceira-parte.active label {
      font-size:16px;
   }

   #formulario .primeira-parte.active input, .segunda-parte.active input, .terceira-parte.active input {
      font-size:14px;
   }
}

@media (max-width:800px) {
   #jornada.active #formulario {
      width:98vw;
   }
}

@media (max-width:500px) {
   #formulario input:checked::before {
      left:4.5px;
      top:1px;
   }

   #formulario .configura-nome, .nascimento, .sexo, .peso-usuario, #infos-primeira-etapa, #infos-segunda-etapa, #entregar-formulario {
      width:180px;
      display:block;
      margin:auto;
   }

   #formulario .fases {
      width:200px;
      display:block;
      margin:auto;
   }

   #formulario .configura-nome #nome-user, #nasce-user, #altura-user, #peso-user {
      width:160px;
   }

   #formulario .sexo label {
      margin-left:28px;
   }

   #formulario .sexo input {
      margin-left:3px;
   }

   #formulario .primeira-parte.active div h1, .segunda-parte.active div h1, .terceira-parte.active div h1 {
      font-size:17px;
   }

   #formulario .primeira-parte.active label, .segunda-parte.active label, .terceira-parte.active label {
      font-size:13px;
   }

   #formulario .primeira-parte.active input, .segunda-parte.active input, .terceira-parte.active input {
      font-size:12px;
   }
}