@charset 'UTF-8';

#jornada {
   display:none;
}

#jornada.active {
   display:flex;
   justify-content:center;
   align-items:center;
   animation:mostra .2s;
}

#jornada.active #formulario {
   border-radius:2px;
   position:absolute;
   top:0px;
   padding:10px;
   display:flex;
   overflow-y:auto;
   width:75vw;
   height:100vh;
   justify-content:center;
   scrollbar-width:thin;
   scrollbar-color:#7c6a6a;
   font-family: 'Baloo Thambi 2', cursive;
   background-color:#f9484a;
   background-image:linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);

}

#formulario::-webkit-scrollbar {
  width:7px;
}

#formulario::-webkit-scrollbar-track {
  background:#7c6a6a;
}

#formulario::-webkit-scrollbar-thumb {
  background-color:#B59047;
  border-radius:5px;
  border:3px solid #B59047;
}

#formulario div {
   text-align:center;
}

#formulario .fases {
   padding-top:60px;
   padding-bottom:60px;
   font-size:30px;
   letter-spacing:6px;
}

.primeira-parte, .segunda-parte, .terceira-parte {
   display:none;
}

.primeira-parte.active, .segunda-parte.active, .terceira-parte.active {
   display:block;
} 

.segunda-parte.active, .terceira-parte.active {
   animation:mostra .2s;
}

#formulario #volta-primeira-etapa, #volta-segunda-etapa {
   position:absolute;
   top:85px;
   left:3px;
}

#formulario span img {
   width:20px;
   height:20px;
   opacity:.8;
}

#formulario span img:hover {
   opacity:1;
}

#formulario #infos-primeira-etapa, #infos-segunda-etapa, #entregar-formulario {
   font-size:19px;
   display:block;
   margin:80px auto auto auto;
   width:120px;
   padding-bottom:100px;
   font-family:'Kalam', cursive;
   letter-spacing:2px;
   position:relative;
   left:3px;
}

#formulario div #proxima-pagina {
   border-radius:10px;
   position:relative;
   left:0px;
   color:black;
   text-decoration:none;
   text-transform:uppercase;
   opacity:.8;
   padding:7px 6px 3px 6px;
   background:#F2F2F2;
   border-bottom:2px solid rgba(0,0,0,.7);
}

#formulario div #proxima-pagina:hover {
   opacity:.9;
   border-bottom:0px;
}

#jornada.active #formulario p {
   display:block;
   margin:10px;
}

@media (max-width:970px) {
   #formulario .fases {
      font-size:18px;
      letter-spacing:2px;
      padding-bottom:20px;
   }

   #formulario #volta-primeira-etapa, #volta-segunda-etapa {
      position:absolute;
      top:75px;
      left:2px;
   }

   #formulario #volta-primeira-etapa img, #volta-segunda-etapa img {
      width:16px;
      height:16px;
   }

   #formulario #infos-primeira-etapa, #infos-segunda-etapa, #entregar-formulario {
      width:90px;
      left:4px;
   }

   #formulario #proxima-pagina {
      margin-left:0px;
      padding:7px 6px 3px 6px;
      font-size:13px;
   }
}

@media (max-width:800px) {
   #jornada.active #formulario {
      width:98vw;
   }
}

@media (max-width:500px) {
   #formulario .configura-nome, .nascimento, .sexo, .peso-usuario, #infos-primeira-etapa, #infos-segunda-etapa, #entregar-formulario {
      width:180px;
      display:block;
      margin:auto;
   }

   #formulario .fases {
      width:200px;
      display:block;
      margin:auto;
   }

   #formulario .configura-nome #nome-user, #nasce-user, #altura-user, #peso-user {
      width:160px;
   }

   #formulario .sexo label {
      margin-left:28px;
   }

   #formulario .sexo input {
      margin-left:3px;
   }
}

@keyframes mostra {
   0% {
      opacity:0;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}