@charset 'UTF-8';

#player.active .play-pause, .opta-15-segundos, .skip, .sound.active, .muted.active, .subtitle, .subtitle.active {
   cursor:pointer;
}

#player.active .play-pause {
   display:flex;
   justify-content:center;
   width:25px;
}

#player.active .play, .pause {
   display:none;
}

#player.active .play.active, .pause.active {
   border-radius:1px;
   display:block;
}

#player.active .play.active {
   position:relative;
   left:4px;
   width:0;
   height:0;
   border:12px solid transparent;
   border-top:0;
   border-bottom:20px solid black;
   transform:rotate(89deg);
}

#player.active .pause.active {
   width:2px;
   height:22px;
   background:black;
   border-style:double;
   border-width:0px 9px 0px 9px;
   border-color:#e5bc82;
}

#player.active .opta-15-segundos {
   width:25px;
   height:25px;
}

#player.active .sound, .muted {
   display:none;
}

#player.active .sound.active, .muted.active {
   display:block;
}

#player.active .subtitle {
   width:22px;
   height:22px;
}

#player.active .subtitle.active {
   border-radius:3px;
   border-bottom:3px solid black;
}