@charset 'UTF-8';

#player.active, .nome-musica.active, .tempo-musica.active {
   background:rgb(230,127,9);
   background:linear-gradient(135deg, rgba(230,127,9,1) 0%, rgba(254,105,10,1) 61%);
}

.nome-musica {
   display:none;
}

.nome-musica.active {
   font-family: 'Baloo Thambi 2', cursive;
   border-radius:0rem 0rem 1rem 1rem;
   width:200px;
   position:fixed;
   display:flex;
   justify-content:center;
   top:0px;
   opacity:.7;
   padding:7px;
   overflow:hidden;
   text-decoration:none;
   color:black;
}

.nome-musica.active:hover {
   opacity:1;
}

.nome-musica.active ul {
   list-style:none;
   font-size:11px;
   display:flex;
}

.nome-musica.active ul:hover {
   animation-play-state:paused;
}

.nome-musica.active .stay-alive {
   animation:passandoStayAlive 10s linear infinite;
}

@keyframes passandoStayAlive {
   0% { transform:translateX(180px); }

   100% { transform:translateX(-168px); }
}

.nome-musica.active .dirty-paws {
   animation:passandoDirtyPaws 10s linear infinite;
}

@keyframes passandoDirtyPaws {
   0% { transform:translateX(185px); }

   100% { transform:translateX(-190px); }
}

.nome-musica.active li {
   margin-right:3px;
   flex-shrink:0;
   white-space:nowrap;
}

.nome-musica.active img {
   position:relative;
   top:-1px;
   width:13px;
   height:13px;
}

.tempo-musica {
   display:none;
}

.tempo-musica.active {
   font-family: 'Baloo Thambi 2', cursive;
   font-size:15px;
   display:block;
   border-radius:1rem 1rem 2px 2px;
   position:fixed;
   display:flex;
   justify-content:center;
   align-items:center;
   bottom:40px;
   padding:5px;
}

.momento-da-musica {
   padding:1px;
   width:40px;
   text-align:left;
}

.tempo-musica.active .barra {
   width:15px;
   text-align:center;
}

.total {
   position:relative;
   width:39px;
   padding:1px 2px 1px 1px;
   text-align:center;
}

#player {
   display:none;
}

#player.active {
   border-radius:1rem 1rem 3px 3px;
   position:fixed;
   bottom:0;
   height:40px;
   width:350px;
   display:flex; 
   justify-content:space-between;
   align-items:center;
   padding:0px 9px 0px 9px;
   animation:mostra .2s;
}

#player.active .play-pause, .restart, .volta-15-segundos, .avanca-15-segundos, .skip-back, .skip-forward, .sound.active, .muted.active, .subtitle, .subtitle.active {
   cursor:pointer;
}

#player.active .play-pause {
   display:flex;
   justify-content:center;
   width:25px;
}

#player.active .play, .pause {
   display:none;
}

#player.active .play.active, .pause.active {
   border-radius:1px;
   display:block;
}

#player.active .play.active {
   position:relative;
   left:4px;
   width:0;
   height:0;
   border:12px solid transparent;
   border-top:0;
   border-bottom:20px solid black;
   transform:rotate(89deg);
}

#player.active .pause.active {
   width:2px;
   height:22px;
   background:black;
   border-style:double;
   border-width:0px 9px 0px 9px;
   border-color:rgba(254,105,10,1);
}

#player.active .restart {
   display:none;
}

#player.active .restart.active {
   display:block;
   width:22px;
   height:22px;
}

#player.active .volta-15-segundos, .avanca-15-segundos {
   width:25px;
   height:25px;
}

.skip-forward-off {
   display:none;
   opacity:.5;
}

#container-som {
   position:relative;
   padding-top:15px;
   top:-8px;
}

#player.active .sound, .muted {
   display:none;
}

#player.active .sound.active, .muted.active {
   display:block;
}

#altera-som {
   display:none;
}

#altera-som.active {
   position:absolute;
   transform:rotate(-90deg);
   display:block;
   margin-left:310px;
   bottom:78px;
   width:75px;
   height:6px;
   border-radius:10px;
}

#player.active .subtitle {
   width:22px;
   height:22px;
   border-radius:3px;
   border-bottom:1px solid black;
}

#player.active .subtitle.active {
   border-bottom:3px solid black;
}

.legenda-musica {
   background-color:#772f1a;
   background-image:linear-gradient(315deg, #c98d7a 0%, #f2a65a 74%);
   position:absolute;
   border-radius:7px;
   padding:3px;
   top:35px;
   display:none;
   color:black;
   font-size:12px;
   text-align:center;
   text-transform:uppercase;
   opacity:.8;
   font-family:'Baloo Thambi 2', cursive;
}

@media (max-width:500px) {
   #player.active {
      width:100vw;
   }

   #altera-som.active {
      right:-20px;
   }
}

@keyframes mostra {
   0% {
      opacity:0;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}