@charset 'UTF-8';

#jornada {
   display:none;
}

#jornada.active {
   display:flex;
   justify-content:center;
   align-items:center;
   animation:mostra .2s;
}

#jornada.active #formulario {
   background:#F2F2F2;
   border-radius:2px;
   position:absolute;
   top:0px;
   padding:30px;
}

.primeira-parte, .segunda-parte, .terceira-parte {
   display:none;
}

.primeira-parte.active, .segunda-parte.active, .terceira-parte.active {
   display:block;
} 

.segunda-parte.active, .terceira-parte.active {
   animation:mostra .2s;
} 

#infos-primeira-etapa, #infos-segunda-etapa, #entregar-formulario {
   cursor:pointer;
}

.nome-musica {
   display:none;
}

.nome-musica.active {
   font-family: 'Baloo Thambi 2', cursive;
   background:#e5bc82;
   border-radius:10px;
   position:fixed;
   display:flex;
   justify-content:center;
   top:0px;
   opacity:.7;
   padding:7px;
}

.nome-musica.active:hover {
   opacity:1;
}

.nome-musica.active a {
   text-decoration:none;
   color:black;
   font-size:15px;
}

.nome-musica.active img {
   position:relative;
   top:-3px;
   width:15px;
   height:15px;
}

.tempo-musica {
   display:none;
}

.tempo-musica.active {
   display:block;
   background:#e5bc82;
   border-radius:2px;
   position:fixed;
   display:flex;
   justify-content:center;
   align-items:center;
   bottom:40px;
   padding:5px;
   opacity:.8;
}

.tempo-musica.active .barra {
   width:17px;
   text-align:center;
}

#player {
   display:none;
}

#player.active {
   border-radius:3px;
   position:fixed;
   background:#e5bc82;
   bottom:0;
   height:40px;
   width:350px;
   display:flex; 
   justify-content:space-between;
   align-items:center;
   padding:0px 9px 0px 9px;
   opacity:.8;
   animation:mostra .2s;
}

#player.active:hover {
   opacity:1;
}

#jornada.active #formulario p {
   display:block;
   margin:10px;
}

@media (max-width:800px) {
    #jornada.active #formulario {
      width:95vw;
   }
}

@media (max-width:500px) {
   #player.active {
      width:100vw;
   }
}

@keyframes mostra {
   0% {
      opacity:0;
   }

   50% {
      opacity:0;
   }

   100% {
      opacity:1;
   }
}