@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {   
    background-color:#FFE6FA; 
    border:0;
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: 'Open Sans', sans-serif; 
}

video { 
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.9;
}

/* Padrão das tags */
header, .contando { display:block; margin:auto; text-align:center; }


/* Cabeçalho */

h1, .life { font-size:65px; font-family:Calibri; }

.life { 
    background-color:#26AD73; 
    color:#F2F2F2; 
    padding:7px; 
    border-radius:15px; 
}


.contando { 
    background-color:#FABD39;
    border-radius:19px;
    padding:9px;
    font-size:20px;
    transform:rotate(5deg);
    width:240px;
    margin-top:10px;
 }

